# Framework i serwer
fastapi
uvicorn[standard]

# Baza danych i ORM
sqlalchemy
asyncpg

# Walidacja i konfiguracja
pydantic[email]
python-dotenv

# Bezpieczeństwo
passlib[bcrypt]
PyJWT
python-jose[cryptography]

# Narzędzia i API
fastapi-utils
typing_inspect
httpx
openpyxl
slowapi
